@import 'variables/colors';

.unlabeled-field {
  margin-top: 30px;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.quarter-width {
  width: 25%;
}

.text-error {
  color: $red;
}

.input-error {
  border: 1px solid $red;
}

.hidden {
  visibility: hidden;
}

.square {
  background-color: $blue;
  height: 300px;
  width: 300px;

  &.yellow {
    background-color: $yellow;
  }
}

.button {
  color: $white;
  background-color: $blue;
  border-radius: 4px;
  font-size: 16px;
  max-height: 40px;
  padding: 8px;
}

.separator {
  border-bottom: 1px solid $blue;
}

.box {
  align-items: center;
  background: $blue;
  color: $white;
  display: flex;
  height: 100px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.message {
  border: 1px solid $red;
  $color: $blue;
  font-size: 24px;
  left: 0;
  line-height: 28px;
  padding: 10px;
  position: absolute;
  top: 0;
}
